*{
  padding: 0;  
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color:rgb(242, 224, 224);
}
header{
  width: 100%;
  padding: 20px;
  position:fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 100;
}
header img{
  width: 60px;
  margin-left: 70px;
}
header ul{
  list-style-type: none;
  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
header .menu a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 35px 20px 70px;
  padding: 20px;
}
main{
  height: auto;
  margin:auto;
  padding: 30px;
}
#carouselExampleIndicators{
  width: 55%;
  margin: auto;
  padding: 40px;
 
}
#titulo{
   text-align: center;
   font-style: italic;
   padding-top: 100px;
   margin-top: 35px;
}
main h2{
   text-align-last: center;
   margin: 10px;
   padding-top: 20px;        
}
footer {
  width: 100%;  
  padding: 40px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.ropa{
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding: 20px 80px 20px 50px;
  margin:auto;
}
.indu{
  text-align: center;
  font-style: italic;
  padding-top: 100px;
  margin-top: 35px;
}  
.nombre img{
  width: 70%;
  padding: auto;
  margin: auto;
  display: flex;
  justify-content: center;
}
.nombre h3{
  text-align:center;
  font-size: 25px;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.volver{  
  padding: 50px;
}
.volver a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding-left: 30px;
  margin: auto;
}
.contenedor{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 12px;
  padding: 6px;
}
.lentes img{
  width: 75%;
  height: 320px;
  padding: 20px;
  margin: 30px 150px 30px 50px;
}
.lentes h3{
  text-align: center;
  font-size: 25px;
  padding: 8px;
  margin: 40px 0px 10px 0px;
}
.acceso{
  text-align: center;
  font-style: italic;
  padding-top: 100px;
  margin-top: 35px;
}
.nosimg{
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
  margin: auto;
 
}
.pres{
  text-align: center;
  font-style: italic;
  padding-top: 100px;
  margin-top: 35px;
}
.nos p{
  font-size: 20px;
  font-family: cursive;
  text-align: center;
  padding: 30px;
  margin: 60px 0px 60px 0px;
}
.input-group{
  width: 50%;
  padding: 10px;
  margin: 20px;
}
.mb-3{
  width: 50%;
  padding: 10px;
  margin: 15px;
}
.comunicacion{
  text-align: center;
  font-style: italic;
  padding-top: 100px;
  margin-top: 35px;
}
.formulario{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.boton{
  padding: 12px;
  margin-top: 20px;
}
.boton:hover{
  background-color: white;
  font-size: 20px;
}
.redes{
  padding: 10px;
  margin: 20px;
}
.redes p{
  font-size: 20px;
  margin: 30px; 
}
.redes a{
  margin: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
@media (min-width:376px) and (max-width:768px){
  header{
    width: 100%;
    height: auto;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
  } 
  header img{
    width: 80px;
    margin: auto;
  }
  header ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    padding: 15px;
  } 
  header .menu a{
    font-size: 10px;
    text-align: left;
    padding-top: 10px;
  }
  main{
    padding: auto;
  }
  #carouselExampleIndicators{
    width: 100%;
    margin:auto;
    padding: 50px;
  }
  #titulo{
    text-align: center;
    font-style: italic;
    padding-top: 10px;
    margin-top: 10px;
  }
  main h2{
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
  }  
  .ropa{
    width:100%;
    display: flex;
    padding: 30px 80px 20px 50px;
  }
  .indu{
    padding-top: 10px;
    margin-top: 15px;
  }
  .nombre h3{
    font-size: 15px;
    padding: 10px;
  }
  .volver a{
    font-size: 15px;
    padding-left: 5px;
  }
  .contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .lentes h3{
    font-size: 18px;
    text-align: center;
    margin: 5px 0px;
    padding: 5px 0px;
  }
  .lentes img{
    width: 75%;
    height: 70%;
    padding: 20px;
    margin: 30px 80px 30px 50px;
  }
  .acceso{
    padding-top: 10px;
    margin-top: 15px;
  }
  .nosimg{
   width: 30%;
   height: 20%;
   margin: auto;  
   padding: 10px; 
  }
  .pres{
    padding: 15px 0px;
    margin-top: 15px;
  }
  .nos p{
    font-size: 15px;
    padding: 20px;
    margin: auto;
  }
  .input-group{
    width: 100%;
    padding: 5px;
    margin: 15px;
  }
  .mb-3{
    width: 100%;
    padding: 5px;
    margin: 10px;
  }
  .comunicacion{
    padding-top: 30px;
    margin-top: 15px;
  }
  .boton{
    padding: 10px;
    margin-top: 15px;
  }
  .boton:hover{
    font-size: 10px;
  }
  .redes a{
    font-size: 15px;
  }
  .redes p{
    font-size: 15px;
  }
  footer{
    width: 100%;
    padding: 30px 20px 30px 20px;
    margin: auto;
    display: flex;
    align-items: center;
  }  
  footer p{
    padding: 20px;
  }
}