* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Times New Roman", Times, serif;
}

.img, .nosimg, .historia img {
  display: flex;
  justify-content: center;
  margin: auto;
  animation-name: puntoflotante;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.volver {
  padding: 50px;
}
.volver a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding-left: 30px;
  margin: auto;
}

@media (min-width: 376px) and (max-width: 768px) {
  .volver a {
    font-size: 12px;
    padding-left: 10px;
    margin-top: 10px;
  }
}
footer {
  width: 100%;
  padding: 60px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: -2px -8px 5px 0px rgb(233, 190, 190);
  -webkit-box-shadow: -2px -8px 5px 0px rgb(233, 190, 190);
  -moz-box-shadow: -2px -8px 5px 0px rgb(233, 190, 190);
}

@media (min-width: 376px) and (max-width: 768px) {
  footer {
    width: 100%;
    padding: 30px 20px 30px 20px;
    margin: auto;
    display: flex;
    align-items: center;
  }
  footer p {
    font-size: 12px;
    padding: 20px;
  }
}
header {
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 100;
}
header img {
  width: 60px;
  margin-left: 80px;
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
header nav ul .menu a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin: 30px 35px 30px 50px;
  padding: 20px;
}

@media (min-width: 376px) and (max-width: 768px) {
  header {
    width: 100%;
    height: auto;
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  header img {
    width: 90px;
    margin-left: 40px;
    padding-top: 20px;
  }
  header nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: auto;
  }
  header nav ul .menu a {
    font-size: 14px;
    text-align: left;
    padding-top: 10px;
    margin: 25px 0px;
    line-height: 2.3;
  }
}
main {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 90px 40px;
}
main h2 {
  text-align-last: center;
  font-style: normal;
  font-weight: bold;
  margin: 10px;
  padding-top: 20px;
  font-size: 30px;
}

@media (min-width: 376px) and (max-width: 768px) {
  main {
    width: auto;
    margin: 5px 0px;
    padding: 20px 0px;
  }
  main h2 {
    text-align: center;
    padding-top: 12px;
    margin-top: 5px;
    font-size: 22px;
  }
}
.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 80px;
  padding: 10px;
}
.contenedor .lentes h3 {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  text-decoration: underline;
  font-size: 20px;
  padding: 5px 0px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.contenedor .lentes h3 a {
  color: black;
}
.contenedor .lentes img {
  width: 100%;
  height: 350px;
  padding: 15px;
  margin: auto;
  border: 2px solid white;
}

@media (min-width: 376px) and (max-width: 768px) {
  .contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: auto;
  }
  .contenedor .lentes h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0px;
    padding: 5px 0px;
  }
  .contenedor .lentes img {
    width: 350px;
    height: 250px;
    padding: 10px;
    margin: 30px 25px 30px 20px;
  }
}
.formulario {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.formulario .input-group {
  width: 50%;
  padding: 10px;
  margin: 15px;
}
.formulario .mb-3 {
  width: 50%;
  padding: 10px;
  margin: 15px;
}
.formulario .mb-3 .boton {
  padding: 8px;
  margin-top: 20px;
}
.formulario .mb-3 .boton:hover {
  background-color: rgb(238, 205, 205);
  font-size: 12px;
  transform: translateY(50px);
  transition: all 1s ease;
}

.redes {
  padding: 5px;
  margin-top: 20px;
}
.redes p {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin: 15px 35px;
}
.redes ul {
  margin: 20px 20px;
}
.redes ul a {
  margin: 15px 0px;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

@media (min-width: 376px) and (max-width: 768px) {
  .formulario .input-group {
    width: 100%;
    padding: 5px;
    margin: 10px;
  }
  .formulario .mb-3 {
    width: 100%;
    padding: 5px;
    margin: 10px;
  }
  .formulario .mb-3 .boton {
    padding: 5px;
    margin-top: 15px;
  }
  .formulario .mb-3 .boton:hover {
    font-size: 10px;
  }
  .redes p {
    font-size: 14px;
  }
  .redes ul a {
    font-size: 13px;
  }
}
.ropa {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 8px;
}
.ropa .nombre h3 {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  text-decoration: underline;
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 8px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.ropa .nombre h3 a {
  color: black;
}
.ropa .nombre img {
  width: 65%;
  padding: 15px;
  margin: auto;
  display: flex;
  justify-content: center;
  border: 2px solid white;
}

@media (min-width: 376px) and (max-width: 768px) {
  .indu {
    margin-left: 40px;
  }
  .ropa {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-right: 50px;
  }
  .ropa .nombre h3 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 60px;
  }
  .ropa .nombre img {
    width: 380px;
    height: 280px;
    margin-left: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
}
.historia p {
  font-size: 20px;
  font-family: cursive;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.historia img {
  width: 450px;
  height: 300px;
}

.nosimg {
  width: 60%;
  height: 300px;
}

@media (min-width: 376px) and (max-width: 768px) {
  .historia p {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    padding: 25px 30px;
    margin: auto;
  }
  .historia img {
    width: 350px;
    height: 250px;
    animation-name: none;
  }
  .nosimg {
    width: 350px;
    height: 250px;
    margin: auto;
    padding: 10px;
    animation-name: none;
  }
}
#titulo {
  text-align: center;
  font-style: italic;
  font-size: 46px;
  font-weight: bold;
  padding-top: 25px;
  margin-top: 20px;
}

#carouselExampleIndicators {
  width: 65%;
  margin: auto;
  padding: 40px;
}

@media (min-width: 376px) and (max-width: 768px) {
  #titulo {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding: auto;
    margin: auto;
    font-size: 32px;
  }
  #carouselExampleIndicators {
    width: 95%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
body {
  background-image: linear-gradient(to right, rgb(242, 224, 224), pink);
}

@keyframes puntoflotante {
  0% {
    transform: translateX(200px);
  }
  50% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: skew(10deg, 10deg);
  }
}

/*# sourceMappingURL=styles.css.map */
