*{
  padding: 0;  
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(248, 207, 213); 
}
ul a{
  text-decoration: none;
  color: black;
  font-size: larger;
  padding: 20px;
  margin: 30px;
}
body{
  display: grid;
  grid-template-columns: 120px 800px 300px 200px ;
  grid-template-rows: 120px auto 40px;
  grid-template-areas:
  "nav header header header" 
  "nav main main aside"
  "nav footer footer footer";
  column-gap: 15px;
  row-gap: 30px;
} 
header{
  display: flex;
  align-items: center;
  grid-area: header;
  justify-self: left;
  align-self: center;
}
header img{
  width: 60px;
}
header ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
nav{
  grid-area: nav;
}
main{
    text-align: center;
    grid-area: main;
    justify-self: left;
    margin-right: 80px ;
}
aside{
    grid-area: aside;
    align-self: center;
}
footer{
    padding: 20px;
    grid-area: footer;
    align-self: self-start;
}
header, nav, main, aside, footer{
  padding: 20px;
  font-size: 20px;
}