.formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    .input-group{
        width: 50%;
        padding: 10px;
        margin: 15px;
    }
    .mb-3{
        width: 50%;
        padding: 10px;
        margin: 15px;
        .boton{
            padding: 8px;
            margin-top: 20px; 
            &:hover {
                background-color:rgb(238, 205, 205);
                font-size: 12px;
                transform: translateY(50px);
                transition: all 1s ease;
            }
        }  
    }
}
.redes{
    padding: 5px;
    margin-top: 20px;
    p{
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        margin: 15px 35px; 
    }
    ul{
        margin: 20px 20px; 
        a{        
            margin: 15px 0px;
            text-decoration: none;
            color: black;
            font-size: 15px;
        }   
    } 
}
//Media Query
@media (min-width:376px) and (max-width:768px){
    .formulario{
        .input-group{
            width: 100%;
            padding: 5px;
            margin: 10px;     
        }
        .mb-3{
            width: 100%;
            padding: 5px;
            margin: 10px;
            .boton{
                padding: 5px;
                margin-top: 15px;
                &:hover{
                   font-size: 10px; 
                }
            }

        }
    }   
    .redes{
        p{
            font-size: 14px; 
        }
        ul{
            a{
                font-size: 13px;   
            }
        }       
    }    
}  
