.nosimg{
    width: 60%;
    height: 300px;
    @extend .img;    
}
.nos{
    p{
        font-size: 20px;
        font-family: cursive;
        text-align: center;
        padding: 30px;
        margin-top: 20px;
        margin-bottom: 50px;
    } 
    img{
        width: 450px;
        height: 300px ;
        @extend .img;
    }              
} 
@media (min-width:376px) and (max-width:768px){
    .nosimg{
        width:350px;
        height :250px;       
        margin: auto;  
        padding: 10px; 
        animation-name: none;
    }
    .nos{
        p{
            font-size: 12px;
            padding: 25px 30px;
            margin: auto;
        }
        img {
            width: 350px;
            height: 250px ;
            animation-name: none;
        }
    } 
}