footer {
    width: 100%;  
    padding: 60px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;    
    box-shadow: -2px -8px 5px 0px rgb(233, 190, 190);
    -webkit-box-shadow: -2px -8px 5px 0px rgb(233, 190, 190) ;
    -moz-box-shadow: -2px -8px 5px 0px rgb(233, 190, 190);
}    
    
@media (min-width:376px) and (max-width:768px){
    footer{
        width: 100%;
        padding: 30px 20px 30px 20px;
        margin: auto;
        display: flex;
        align-items: center;
    }    
    p{
        font-size: 12px;
        padding: 20px;
    } 
}  